version: '3.8'

services:
  postgres:
    image: postgres:16.4
    container_name: webhooks-inspector
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: webhooks
    ports:
      - "5432:5432"